<!DOCTYPE html>
{% extends 'auth_app/base.html' %}
{% load staticfiles %}


{% block body_block %}

    <div class="jumbotron">
        
        {% if registered %}
            <h1>Multumim pentru inregistrare!</h1>
        {% else %}
            <h1>Register Here</h1>
            <h2>Completeaza forma</h2>
            <form  method="post" enctype="multipart/form-data"> <!-- enctype="multipart/form-data" pentru a putea incarca fotografiile-->
                {% csrf_token %}
                {{ user_form.as_p }}    <!-- user_form se defineste in views.py -->
                {{ profile_form.as_p }} <!-- profile_form se defineste in views.py -->
                <input type="submit" value="Register!">
            </form>
        {% endif %}
    </div>
{% endblock %}